In [69]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType
spark = SparkSession.builder.appName("Read CSV File Into A DataFrame").getOrCreate()
rf_authors = spark.read.csv("riskfactor_out.csv", sep = ',', inferSchema= True, header=False)

In [159]:
#!nvidia-smi
import pandas as pd

In [74]:
risk_factor = rf_authors.toPandas()
risk_factor.columns = ["driverid","events", "totmiles", "riskfactor"]
risk_factor.shape

(99, 4)

In [75]:
risk_factor

   driverid  events  totmiles  riskfactor
0        A1       3    628507    4.773216
1        A2       1    664543    1.504793
2        A3       6    639584    9.381098
3        A4       6    663289    9.045831
4        A5       9    676574   13.302314
..      ...     ...       ...         ...
94      A96       2    640287    3.123599
95      A97      20    631199   31.685730
96      A98       6    634665    9.453806
97      A99       4    640800    6.242197
98     A100       4    634338    6.305787

[99 rows x 4 columns]

In [79]:
geo_authors = spark.read.csv("geolocation_out.csv", sep = ',', inferSchema= True, header=True)
geolocation = geo_authors.toPandas()
# geolocation.columns = ["driverid","events", "totmiles", "riskfactor"]
geolocation.shape

(8000, 10)

In [82]:
geolocation.head()

,truckid,driverid,event,latitude,longitude,city,state,velocity,event_ind,idling_ind
0,A54,A54,normal,38.440467,-122.714431,Santa Rosa,California,17,0,0
1,A20,A20,normal,36.977173,-121.899402,Aptos,California,27,0,0
2,A40,A40,overspeed,37.957702,-121.290780,Stockton,California,77,1,0
3,A31,A31,normal,39.409608,-123.355566,Willits,California,22,0,0
4,A71,A71,normal,33.683947,-117.794694,Irvine,California,43,0,0

In [124]:
geolocation.describe()

          latitude    longitude    velocity    event_ind   idling_ind
count  8000.000000  8000.000000  8000.00000  8000.000000  8000.000000
mean     37.128944  -118.629551    35.05650     0.056375     0.230375
std       2.214427    16.004797    24.86375     0.230659     0.421099
min      32.617680  -124.038407     0.00000     0.000000     0.000000
25%      34.579434  -122.524149    16.00000     0.000000     0.000000
50%      37.957702  -121.568275    37.00000     0.000000     0.000000
75%      38.693723  -119.018712    55.00000     0.000000     0.000000
max      41.526509    -6.196595   100.00000     1.000000     1.000000

In [102]:
tm_authors = spark.read.csv("truck_mileage_out.csv", sep = ',', inferSchema= True, header=False)
truck_mileage = tm_authors.toPandas()
truck_mileage.columns = ["truckid","driverid", "rdate", "miles", "gas", "mpg"]
truck_mileage.shape

(5400, 6)

In [103]:
truck_mileage.head()

  truckid driverid  rdate  miles   gas       mpg
0      A1       A1  jun13   9217  1914  4.815569
1      A1       A1  may13   8769  1892  4.634778
2      A1       A1  apr13  14234  3008  4.732048
3      A1       A1  mar13  11519  2262  5.092396
4      A1       A1  feb13   8676  1596  5.436090

In [92]:
tmg_authors = spark.read.csv("trucks_mg_out.csv", sep = ',', inferSchema= True, header=True)
truck_mg = tmg_authors.toPandas()
truck_mg.columns = ["driverid","truckid", "model", "Tdate", "miles", "gas"]
truck_mg.shape

(100, 6)

In [121]:
truck_mg.head()

  driverid truckid         model       Tdate  miles   gas
0       A1      A1  Freightliner    1/1/2015   9217  1914
1       A2      A2          Ford   10/2/2015  12058  2335
2       A3      A3          Ford  15/03/2015  13652  2899
3       A4      A4      Kenworth  15/04/2015  12687  2439
4       A5      A5          Hino  15/05/2016  10233  1825

In [126]:
truck_mg.describe()

              miles          gas
count    100.000000   100.000000
mean   12043.120000  2456.320000
std     1777.444655   436.052075
min     8490.000000  1593.000000
25%    10669.500000  2091.000000
50%    12048.000000  2438.500000
75%    13533.000000  2744.750000
max    15548.000000  3446.000000

In [94]:
t_authors = spark.read.csv("trucks_out.csv", sep = ',', inferSchema= True, header=True)
trucks = t_authors.toPandas()
# truck_mg.columns = ["driverid","truckid", "model", "Tdate", "miles", "gas"]
trucks.shape

(100, 111)

In [95]:
trucks.head()

,driverid,truckid,model,jun13_miles,jun13_gas,may13_miles,may13_gas,apr13_miles,apr13_gas,mar13_miles,...,may09_miles,may09_gas,apr09_miles,apr09_gas,mar09_miles,mar09_gas,feb09_miles,feb09_gas,jan09_miles,jan09_gas
0,A1,A1,Freightliner,9217,1914,8769,1892,14234,3008,11519,...,12073,2642,15276,2642,9880,2642,13861,2642,11176,2642
1,A2,A2,Ford,12058,2335,14314,2648,11050,2323,14114,...,13912,1827,11892,1827,15158,1827,12774,1827,11743,1827
2,A3,A3,Ford,13652,2899,12075,2603,12277,2792,9642,...,9821,3064,15224,3064,11209,3064,14203,3064,10150,3064
3,A4,A4,Kenworth,12687,2439,10680,2083,11071,2599,12302,...,14419,2965,14684,2965,13090,2965,15090,2965,14249,2965
4,A5,A5,Hino,10233,1825,14634,3450,9281,2028,13547,...,12275,2310,14289,2310,13046,2310,9582,2310,10509,2310

In [104]:
avgm_authors = spark.read.csv("avg_mileage_out.csv", sep = ',', inferSchema= True, header=False)
avgmileage = avgm_authors.toPandas()
avgmileage.columns = ["truckid", "avgmpg"]
avgmileage.shape

(100, 2)

In [105]:
avgmileage.head()

  truckid    avgmpg
0      A1  4.785823
1     A10  5.401718
2    A100  4.939039
3     A11  5.502369
4     A12  4.686164

In [107]:
driverm_authors = spark.read.csv("driver_mileage_out.csv", sep = ',', inferSchema= True, header=False)
drivermileage = driverm_authors.toPandas()
drivermileage.columns = ["driverid", "totmiles"]
drivermileage.shape

(100, 2)

In [108]:
drivermileage.head()

  driverid  totmiles
0       A1    628507
1      A10    675377
2     A100    634338
3      A11    652452
4      A12    668241

### What Business Question Do we Answer (5 scenarios) ??
 - find the models which have the events registered to it
 - find out the most common events, try to pinpoint it to a location are the top locations 
 - where do idling infractions take place
 - where do event infraction take place
 - forecasting/ predicting the risk => model type of car, number of prior events (plus category wise), totalmiles, avg velocity, event index, idling index

In [119]:
'''
Business Question 1 & 2
'''
event_types = geolocation["event"].unique()
print("the type of events are", event_types)
# The  types of offences/events are - (1.)"Normal", (2.)"Overspeed", (3.)"Unsafe Following Distance", (4.)"Lane Departure", (5.)"Unsafe Tail Distance"
event_counts = geolocation["event"].value_counts()
event_counts
# From our analysis we were able to infer that the most common type of offence is lane departure

the type of events are ['normal' 'overspeed' 'unsafe following distance' 'lane departure'
 'unsafe tail distance']

event
normal                       7543
lane departure                152
unsafe following distance     150
overspeed                      90
unsafe tail distance           65
Name: count, dtype: int64

In [155]:
geolocation["driverid"] = geolocation["driverid"].astype(str)

In [156]:
geolocation.dtypes

truckid        object
driverid       object
event          object
latitude      float64
longitude     float64
city           object
state          object
velocity        int32
event_ind       int32
idling_ind      int32
dtype: object

In [157]:
truck_mg["driverid"] = truck_mg["driverid"].astype(str)

In [161]:
result = pd.merge(geolocation, truck_mg, on = "driverid")
result.head()

,truckid_x,driverid,event,latitude,longitude,city,state,velocity,event_ind,idling_ind,truckid_y,model,Tdate,miles,gas
0,A54,A54,normal,38.440467,-122.714431,Santa Rosa,California,17,0,0,A54,Western Star,15/06/2015,14969,2760
1,A54,A54,normal,35.373292,-119.018712,Bakersfield,California,19,0,0,A54,Western Star,15/06/2015,14969,2760
2,A54,A54,normal,39.230151,-121.136075,Rough and Ready,California,45,0,0,A54,Western Star,15/06/2015,14969,2760
3,A54,A54,normal,34.953034,-120.435719,Santa Maria,California,21,0,0,A54,Western Star,15/06/2015,14969,2760
4,A54,A54,normal,37.962146,-122.345526,San Pablo,California,53,0,0,A54,Western Star,15/06/2015,14969,2760

In [163]:
result["model"].value_counts()
# Ford , Caterpillar, Peterbilt

model
Ford            1600
Caterpillar     1520
Peterbilt       1280
Volvo            720
Navistar         720
Hino             560
Kenworth         480
Freightliner     400
Oshkosh          320
Western Star     240
Crane            160
Name: count, dtype: int64

In [173]:
result.dtypes

truckid_x      object
driverid       object
event          object
latitude      float64
longitude     float64
city           object
state          object
velocity        int32
event_ind       int32
idling_ind      int32
truckid_y      object
model          object
Tdate          object
miles           int32
gas             int32
dtype: object

In [175]:
result["event"] = result["event"].astype(str)
result.dtypes

truckid_x      object
driverid       object
event          object
latitude      float64
longitude     float64
city           object
state          object
velocity        int32
event_ind       int32
idling_ind      int32
truckid_y      object
model          object
Tdate          object
miles           int32
gas             int32
dtype: object

In [183]:
filtered_df = result[result["event"] == "overspeed"]
filtered_df["model"].value_counts()
# Overspeeding events happen the most for Caterpillar Model, even though there are more Ford cars

model
Caterpillar     17
Ford            15
Peterbilt       13
Navistar         9
Volvo            8
Oshkosh          7
Western Star     6
Hino             6
Crane            4
Freightliner     4
Kenworth         1
Name: count, dtype: int64

In [181]:
filtered_df["city"].value_counts()
# Overspeeding events happen the most in Sata Rosa

city
Santa Rosa       11
Apple Valley      7
Arbuckle          5
San Pablo         5
Willits           4
Markleeville      4
Lodi              4
Martinez          3
San Fernando      3
Modesto           3
San Diego         3
Bakersfield       3
San Quentin       3
Stockton          3
Holtville         2
La Palma          2
Napa              2
Redding           2
Mariposa          2
San Francisco     2
Roseville         2
Glendora          2
Cloverdale        1
Palmdale          1
Jacumba           1
Marysville        1
Santa Paula       1
Antelope          1
San Dimas         1
Fresno            1
Palo Cedro        1
La Quinta         1
Knightsen         1
Occidental        1
Ukiah             1
Name: count, dtype: int64

In [186]:
filtered_df["driverid"].value_counts()
# A97 has the most cases of overspeeding

driverid
A97    5
A69    4
A20    3
A73    3
A84    3
A3     3
A60    3
A68    2
A17    2
A9     2
A21    2
A7     2
A24    2
A72    2
A14    2
A13    2
A71    2
A50    2
A51    2
A35    2
A48    2
A55    2
A4     1
A81    1
A70    1
A90    1
A96    1
A76    1
A75    1
A78    1
A47    1
A18    1
A32    1
A53    1
A54    1
A99    1
A49    1
A40    1
A77    1
A86    1
A5     1
A98    1
A10    1
A12    1
A62    1
A94    1
A11    1
A67    1
A8     1
A34    1
A38    1
A27    1
A26    1
A93    1
A33    1
A52    1
A16    1
A23    1
Name: count, dtype: int64

In [187]:
filtered_df = result[result["event"] == "unsafe following distance"]
filtered_df["model"].value_counts()
# ford has the most instances of unsafe following distance

model
Ford            34
Peterbilt       30
Caterpillar     21
Volvo           14
Hino            13
Oshkosh         10
Navistar         9
Kenworth         8
Freightliner     7
Crane            4
Name: count, dtype: int64

In [188]:
filtered_df["city"].value_counts()

city
Santa Rosa         15
Willits            13
Apple Valley        6
Antelope            6
Palo Alto           5
Arbuckle            5
Jacumba             5
Klamath             5
Homeland            4
San Dimas           4
Palo Cedro          4
Stockton            4
San Fernando        4
La Palma            3
San Diego           3
Mariposa            3
Irvine              3
San Quentin         3
Goleta              3
Marysville          3
San Pablo           3
Roseville           3
Isleton             3
Aptos               2
Glen Ellen          2
Bakersfield         2
Redding             2
Napa                2
Martinez            2
Ukiah               2
Palmdale            2
Lodi                2
Gilroy              2
Occidental          2
La Puente           2
Rough and Ready     2
Modesto             1
Santa Maria         1
Markleeville        1
Santa Monica        1
Knights Landing     1
Knightsen           1
Fresno              1
San Francisco       1
La Quinta           1
Santa Paula         1
Oceanside           1
Oceano              1
Glendora            1
Cloverdale          1
Name: count, dtype: int64

In [190]:
filtered_df["driverid"].value_counts()
# driver A86 has the most cases of unsafe following distances

driverid
A86    5
A73    5
A81    4
A92    4
A59    4
      ..
A61    1
A34    1
A21    1
A9     1
A42    1
Name: count, Length: 79, dtype: int64

In [198]:
filtered_df = result[result["event"] == "lane departure"]
filtered_df["model"].value_counts()
# Caterpillar has the most cases of lane departures

model
Caterpillar     32
Ford            30
Peterbilt       23
Volvo           12
Kenworth        11
Hino            10
Navistar        10
Freightliner    10
Oshkosh          8
Western Star     5
Crane            1
Name: count, dtype: int64

In [201]:
filtered_df["driverid"].value_counts()
# driver  A97 has the most cases of lane departures

driverid
A97    11
A95     5
A36     4
A4      4
A75     4
       ..
A20     1
A59     1
A32     1
A84     1
A42     1
Name: count, Length: 81, dtype: int64

In [203]:
filtered_df["city"].value_counts()
# santa rosa has the most cases of lane departure

city
Santa Rosa         15
Arbuckle           10
Willits             9
Apple Valley        8
Stockton            7
San Dimas           6
Antelope            6
Marysville          4
La Palma            4
Bakersfield         4
Modesto             4
San Francisco       4
Ukiah               4
Rough and Ready     3
San Pablo           3
Isleton             3
Redding             3
Hollister           3
Cloverdale          3
Palmdale            3
Kneeland            3
Palo Alto           2
Napa                2
Mariposa            2
Gilroy              2
San Fernando        2
San Quentin         2
Knights Landing     2
Glen Ellen          2
Irvine              2
Knightsen           2
La Quinta           2
Martinez            2
Aptos               2
La Puente           1
Santa Monica        1
Occidental          1
Ojai                1
Fresno              1
Oceano              1
Palo Cedro          1
Holtville           1
Lodi                1
Goleta              1
Glendora            1
San Diego           1
Oceanside           1
Jacumba             1
Homeland            1
Santa Maria         1
Santa Paula         1
Name: count, dtype: int64

In [204]:
filtered_df = result[result["event"] == "unsafe tail distance"]
filtered_df["model"].value_counts()

model
Peterbilt       15
Ford            10
Caterpillar     10
Hino             7
Kenworth         5
Volvo            5
Navistar         5
Freightliner     4
Crane            2
Western Star     1
Oshkosh          1
Name: count, dtype: int64

In [205]:
filtered_df["driverid"].value_counts()

driverid
A97     3
A93     3
A5      3
A66     2
A44     2
A70     2
A85     2
A38     2
A34     2
A9      2
A80     2
A95     2
A53     1
A76     1
A64     1
A3      1
A45     1
A1      1
A25     1
A14     1
A21     1
A87     1
A74     1
A88     1
A61     1
A47     1
A18     1
A20     1
A99     1
A35     1
A31     1
A71     1
A50     1
A51     1
A77     1
A89     1
A48     1
A98     1
A12     1
A43     1
A68     1
A7      1
A37     1
A27     1
A58     1
A69     1
A100    1
A15     1
A40     1
A23     1
Name: count, dtype: int64

In [206]:
filtered_df["city"].value_counts()

city
Santa Rosa       12
Antelope          6
Aptos             5
San Pablo         4
Apple Valley      4
Modesto           4
San Francisco     3
Knightsen         2
San Dimas         2
Isleton           2
Willits           2
San Fernando      2
Markleeville      2
Glendora          2
Oceanside         1
Santa Monica      1
Goleta            1
San Diego         1
Irvine            1
Redding           1
Lodi              1
La Palma          1
Arbuckle          1
Ojai              1
Glen Ellen        1
Palo Cedro        1
Kneeland          1
Name: count, dtype: int64

In [208]:
'''
Business Question 3
'''
filtered_df = result[result["event_ind"] == 1]
filtered_df["city"].value_counts()

city
Santa Rosa         53
Willits            28
Apple Valley       25
Antelope           19
Arbuckle           18
San Pablo          15
Stockton           14
San Dimas          12
Modesto            11
San Fernando       11
San Francisco      10
La Palma           10
Aptos               9
Bakersfield         9
Isleton             8
San Quentin         8
Redding             8
Lodi                8
Marysville          8
San Diego           8
Jacumba             7
Palo Cedro          7
Ukiah               7
Palo Alto           7
Mariposa            7
Martinez            7
Markleeville        7
Knightsen           6
Irvine              6
Palmdale            6
Glendora            6
Napa                6
Goleta              5
Homeland            5
Cloverdale          5
Klamath             5
Rough and Ready     5
Glen Ellen          5
Roseville           5
Gilroy              4
Occidental          4
Kneeland            4
La Quinta           4
Fresno              3
Santa Paula         3
Santa Monica        3
Oceanside           3
Knights Landing     3
Holtville           3
La Puente           3
Hollister           2
Oceano              2
Santa Maria         2
Ojai                2
Name: count, dtype: int64

In [209]:
filtered_df["model"].value_counts()

model
Ford            89
Peterbilt       81
Caterpillar     74
Volvo           39
Hino            36
Navistar        33
Oshkosh         26
Kenworth        25
Freightliner    25
Western Star    12
Crane           11
Name: count, dtype: int64

In [210]:
filtered_df["driverid"].value_counts()

driverid
A97    14
A73    10
A35     9
A50     9
A5      9
       ..
A65     1
A2      1
A6      1
A39     1
A79     1
Name: count, Length: 99, dtype: int64

In [211]:
'''
Business Question 4
'''
filtered_df = result[result["idling_ind"] == 1]
filtered_df["model"].value_counts()

model
Ford            358
Caterpillar     344
Peterbilt       305
Volvo           177
Navistar        171
Hino            131
Kenworth        113
Freightliner     89
Oshkosh          64
Western Star     52
Crane            39
Name: count, dtype: int64

In [212]:
filtered_df["driverid"].value_counts()
#driver A94 has the most events of idling

driverid
A94    28
A63    28
A72    27
A35    26
A79    25
       ..
A55    13
A53    12
A11    12
A38    11
A36     7
Name: count, Length: 100, dtype: int64

In [213]:
filtered_df["city"].value_counts()

city
Santa Rosa         235
Willits            124
Apple Valley        81
Stockton            77
Antelope            75
Aptos               57
San Fernando        51
Arbuckle            47
La Palma            45
Lodi                42
Jacumba             42
San Pablo           41
Palo Alto           41
San Diego           40
Palmdale            37
Irvine              36
San Francisco       36
San Dimas           36
Bakersfield         35
Palo Cedro          35
Isleton             34
San Quentin         30
Ojai                24
Modesto             23
Holtville           23
Oceanside           22
La Puente           22
Napa                21
Santa Monica        21
Marysville          20
Knightsen           19
Klamath             19
La Quinta           19
Occidental          19
Santa Maria         19
Santa Paula         18
Martinez            18
Glen Ellen          18
Hollister           18
Mariposa            17
Roseville           17
Gilroy              16
Fresno              16
Kneeland            16
Homeland            16
Ukiah               15
Glendora            15
Redding             15
Cloverdale          14
Oceano              14
Goleta              14
Knights Landing     13
Markleeville        13
Rough and Ready     12
Name: count, dtype: int64

In [214]:
result.head()

,truckid_x,driverid,event,latitude,longitude,city,state,velocity,event_ind,idling_ind,truckid_y,model,Tdate,miles,gas
0,A54,A54,normal,38.440467,-122.714431,Santa Rosa,California,17,0,0,A54,Western Star,15/06/2015,14969,2760
1,A54,A54,normal,35.373292,-119.018712,Bakersfield,California,19,0,0,A54,Western Star,15/06/2015,14969,2760
2,A54,A54,normal,39.230151,-121.136075,Rough and Ready,California,45,0,0,A54,Western Star,15/06/2015,14969,2760
3,A54,A54,normal,34.953034,-120.435719,Santa Maria,California,21,0,0,A54,Western Star,15/06/2015,14969,2760
4,A54,A54,normal,37.962146,-122.345526,San Pablo,California,53,0,0,A54,Western Star,15/06/2015,14969,2760

In [216]:
risk_factor.head()

  driverid  events  totmiles  riskfactor
0       A1       3    628507    4.773216
1       A2       1    664543    1.504793
2       A3       6    639584    9.381098
3       A4       6    663289    9.045831
4       A5       9    676574   13.302314

In [249]:
new_df = pd.DataFrame(result.groupby('driverid').agg({
    'velocity': 'mean', # average velocity
    'idling_ind': 'sum', # total number of idling_ind
    'event_ind': 'sum', # total number of event_ind
    'city': lambda x: x.value_counts().index[0], # most frequent city
    'model': 'first', # model
    'miles': 'mean', # average number of mile travelled
    'gas': 'mean', # average number of gas
    'event': lambda x: (x == 'overspeed').sum() # total number of overspeeding events
}))
new_df = new_df.reset_index()

In [250]:
new_df.head()

,driverid,velocity,idling_ind,event_ind,city,model,miles,gas,event
0,A1,37.4500,14,3,Palmdale,Freightliner,9217.0,1914.0,0
1,A10,31.7625,21,6,Palo Alto,Peterbilt,13699.0,2583.0,1
2,A100,30.3625,24,4,Santa Rosa,Peterbilt,13019.0,2329.0,0
3,A11,33.8375,12,5,Santa Rosa,Peterbilt,12447.0,2596.0,1
4,A12,35.3000,20,5,Santa Rosa,Caterpillar,10006.0,2055.0,1

In [251]:
new_df.columns

Index(['driverid', 'velocity', 'idling_ind', 'event_ind', 'city', 'model',
       'miles', 'gas', 'event'],
      dtype='object')

In [252]:
# rename columns for clarity
new_df.columns = [ 'driverid', 'average_velocity', 'total_idling_ind', 'total_event_ind', 
                  'most_frequent_city', 'model', 'average_miles', 'average_gas', 'total_overspeed_events']

In [253]:
new_df.tail()

,driverid,average_velocity,total_idling_ind,total_event_ind,most_frequent_city,model,average_miles,average_gas,total_overspeed_events
95,A95,32.3250,23,8,Santa Rosa,Peterbilt,14670.0,3328.0,0
96,A96,34.1750,18,2,Santa Rosa,Peterbilt,12738.0,2637.0,1
97,A97,37.6125,19,14,Santa Rosa,Caterpillar,13489.0,2425.0,5
98,A98,39.2375,16,6,Jacumba,Volvo,10732.0,2238.0,1
99,A99,38.6250,17,4,Santa Rosa,Peterbilt,13912.0,2720.0,1

In [254]:
new_df.dtypes

driverid                   object
average_velocity          float64
total_idling_ind            int32
total_event_ind             int32
most_frequent_city         object
model                      object
average_miles             float64
average_gas               float64
total_overspeed_events      int64
dtype: object

In [259]:
new_df["driverid"] = new_df["driverid"].astype(str)
result["driverid"] = result["driverid"].astype(str)

In [257]:
new_df.head()

,driverid,average_velocity,total_idling_ind,total_event_ind,most_frequent_city,model,average_miles,average_gas,total_overspeed_events
0,A1,37.4500,14,3,Palmdale,Freightliner,9217.0,1914.0,0
1,A10,31.7625,21,6,Palo Alto,Peterbilt,13699.0,2583.0,1
2,A100,30.3625,24,4,Santa Rosa,Peterbilt,13019.0,2329.0,0
3,A11,33.8375,12,5,Santa Rosa,Peterbilt,12447.0,2596.0,1
4,A12,35.3000,20,5,Santa Rosa,Caterpillar,10006.0,2055.0,1

In [261]:
new_df.dtypes

driverid                   object
average_velocity          float64
total_idling_ind            int32
total_event_ind             int32
most_frequent_city         object
model                      object
average_miles             float64
average_gas               float64
total_overspeed_events      int64
dtype: object

In [264]:
risk_factor.head()

  driverid  events  totmiles  riskfactor
0       A1       3    628507    4.773216
1       A2       1    664543    1.504793
2       A3       6    639584    9.381098
3       A4       6    663289    9.045831
4       A5       9    676574   13.302314

In [265]:
risk_factor.dtypes

driverid       object
events          int32
totmiles        int32
riskfactor    float64
dtype: object

In [267]:
new_df = new_df.merge(risk_factor[["driverid", "totmiles", "events", "riskfactor"]], on = "driverid")
new_df.head()

,driverid,average_velocity,total_idling_ind,total_event_ind,most_frequent_city,model,average_miles,average_gas,total_overspeed_events,totmiles,events,riskfactor
0,A1,37.4500,14,3,Palmdale,Freightliner,9217.0,1914.0,0,628507,3,4.773216
1,A10,31.7625,21,6,Palo Alto,Peterbilt,13699.0,2583.0,1,675377,6,8.883927
2,A100,30.3625,24,4,Santa Rosa,Peterbilt,13019.0,2329.0,0,634338,4,6.305787
3,A11,33.8375,12,5,Santa Rosa,Peterbilt,12447.0,2596.0,1,652452,5,7.663399
4,A12,35.3000,20,5,Santa Rosa,Caterpillar,10006.0,2055.0,1,668241,5,7.482331

In [268]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [269]:
# Create a list of features and the target variable
features = ['average_velocity', 'total_idling_ind', 'total_event_ind', 'most_frequent_city', 'model', 'average_miles', 'average_gas', 'total_overspeed_events', 'totmiles', 'events']
target = 'riskfactor'

In [283]:
# Convert categorical variables into dummy variables
encoded_data = pd.get_dummies(new_df, columns=['most_frequent_city', 'model'])
encoded_data = encoded_data.drop(["driverid"] , axis = 1)
encoded_data.head()

,average_velocity,total_idling_ind,total_event_ind,average_miles,average_gas,total_overspeed_events,totmiles,events,riskfactor,most_frequent_city_Antelope,...,model_Crane,model_Ford,model_Freightliner,model_Hino,model_Kenworth,model_Navistar,model_Oshkosh,model_Peterbilt,model_Volvo,model_Western Star
0,37.4500,14,3,9217.0,1914.0,0,628507,3,4.773216,False,...,False,False,True,False,False,False,False,False,False,False
1,31.7625,21,6,13699.0,2583.0,1,675377,6,8.883927,False,...,False,False,False,False,False,False,False,True,False,False
2,30.3625,24,4,13019.0,2329.0,0,634338,4,6.305787,False,...,False,False,False,False,False,False,False,True,False,False
3,33.8375,12,5,12447.0,2596.0,1,652452,5,7.663399,False,...,False,False,False,False,False,False,False,True,False,False
4,35.3000,20,5,10006.0,2055.0,1,668241,5,7.482331,False,...,False,False,False,False,False,False,False,False,False,False

In [277]:
# data.reset_index()

In [287]:
# data.shape
encoded_data["riskfactor"].describe()

count    99.000000
mean      7.128344
std       3.957285
min       1.504793
25%       4.625128
50%       7.518560
75%       9.145439
max      31.685730
Name: riskfactor, dtype: float64

In [289]:
import numpy as np
encoded_data["riskfactor"] = np.where(encoded_data["riskfactor"] >= 7.5, 1, 0 )

In [290]:
encoded_data.head()

,average_velocity,total_idling_ind,total_event_ind,average_miles,average_gas,total_overspeed_events,totmiles,events,riskfactor,most_frequent_city_Antelope,...,model_Crane,model_Ford,model_Freightliner,model_Hino,model_Kenworth,model_Navistar,model_Oshkosh,model_Peterbilt,model_Volvo,model_Western Star
0,37.4500,14,3,9217.0,1914.0,0,628507,3,0,False,...,False,False,True,False,False,False,False,False,False,False
1,31.7625,21,6,13699.0,2583.0,1,675377,6,1,False,...,False,False,False,False,False,False,False,True,False,False
2,30.3625,24,4,13019.0,2329.0,0,634338,4,0,False,...,False,False,False,False,False,False,False,True,False,False
3,33.8375,12,5,12447.0,2596.0,1,652452,5,1,False,...,False,False,False,False,False,False,False,True,False,False
4,35.3000,20,5,10006.0,2055.0,1,668241,5,0,False,...,False,False,False,False,False,False,False,False,False,False

In [291]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(encoded_data.drop('riskfactor', axis=1), encoded_data['riskfactor'], test_size=0.3, random_state=42)

In [293]:
import joblib
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
# Train decision tree model
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [295]:
# Make predictions on the testing set
y_pred_logreg = logreg.predict(X_test)
y_pred_dt = dt_model.predict(X_test)

In [296]:
# Print the classification report for each model
print("Logistic Regression:")
print(classification_report(y_test, y_pred_logreg))
print("Decision Tree:")
print(classification_report(y_test, y_pred_dt))

Logistic Regression:
              precision    recall  f1-score   support

           0       0.60      0.60      0.60        15
           1       0.60      0.60      0.60        15

    accuracy                           0.60        30
   macro avg       0.60      0.60      0.60        30
weighted avg       0.60      0.60      0.60        30

Decision Tree:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      1.00      1.00        15

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [298]:
from sklearn.metrics import accuracy_score
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred_logreg)
print('Accuracy:', accuracy)

Accuracy: 0.6

In [299]:
from sklearn.metrics import accuracy_score
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred_dt)
print('Accuracy:', accuracy)
# this means it overfits, creating a better model
'''
To fix this, you can try the following:

Use a smaller and simpler decision tree: You can try to reduce the depth of the decision tree or limit the number of leaf nodes. This will help reduce the complexity of the model and prevent overfitting.

Use regularization: Regularization is a technique used to prevent overfitting by adding a penalty term to the cost function. You can try adding L1 or L2 regularization to the decision tree model.

Use cross-validation: Cross-validation is a technique used to evaluate the performance of a model on unseen data. You can use cross-validation to evaluate the decision tree model and check if it is overfitting.

Gather more data: If you have a small dataset, it is possible that the model is overfitting due to lack of data. You can try to gather more data to train the model.

Feature selection: It is possible that some of the features used in the decision tree model are not relevant for predicting the target variable. You can try to remove the irrelevant features and see if it improves the performance of the model.
'''

Accuracy: 1.0

In [309]:
new_df = new_df.drop(["driverid"], axis = 1)

In [310]:
new_df['riskfactor'] = new_df['riskfactor'].apply(lambda x: 1 if x > 7.5 else 0)

In [311]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
# create one-hot encoded features
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(drop='first'), ['most_frequent_city', 'model'])], 
    remainder='passthrough'
)
X = ct.fit_transform(new_df.iloc[:, :-1])
y = new_df.iloc[:, -1]

In [312]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# train decision tree model
dtc = DecisionTreeClassifier(max_depth=3)
dtc.fit(X_train, y_train)
y_pred = dtc.predict(X_test)
dtc_accuracy = accuracy_score(y_test, y_pred)

# train logistic regression model
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
lr_accuracy = accuracy_score(y_test, y_pred)

print("Decision Tree Accuracy: ", dtc_accuracy)
print("Logistic Regression Accuracy: ", lr_accuracy)

Decision Tree Accuracy:  0.95
Logistic Regression Accuracy:  0.55

In [313]:
# Save models
joblib.dump(lr, 'lr_model.joblib')
joblib.dump(dtc, 'dt_model.joblib')

# Load models
# lr_model = joblib.load('lr_model.joblib')
# dt_model = joblib.load('dt_model.joblib')

['dt_model.joblib']